<language original="Deutsch" international="German"/>
       <language original="中文" international="Mandarin"/>
       <language original="English" international="English"/>
       <language international="Swedish" original="Svenska"/>
       <language international="Cebuano" original="Sinugboanong Binisaya"/>
       <language international="Dutch" original="Nederlands"/>
       <language international="French" original="Français"/>
       <language international="Russian" original="Русский"/>
       <language international="Italian" original="Italiano"/>
       <language international="Spanish" original="Español"/>
       <language international="Polish" original="Polski"/>
       <language international="Vietnamese" original="Tiếng Việt"/>
       <language international="Japanese" original="日本語"/>
       <language international="Portuguese" original="Português"/>
       <language international="Serbo Croatian" original="Srpskohrvatski / Српскохрватски"/>
       <language international="Persian" original="فارسی"/>
       <language international="Catalan" original="Català"/>