<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noahh_000.starthack">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name=".activities.UndecidedPickRoleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.InitializationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TranslatorLanguagePickerActivity"
            android:label="@string/title_activity_helper_intro" />
        <activity android:name=".activities.UserLanguagePickerActivity" />
        <activity
            android:name=".activities.UserHomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.CallLoadingActivity" />
        <activity
            android:name=".activities.TranslatorVideoCallActivity"
            android:label="@string/title_activity_conversation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UserVideoCallActivity"
            android:label="@string/title_activity_conversation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TranslatorIsReadyActivity"
            android:label="@string/title_activity_ready_translator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.TranslatorAudioCallActivity"
            android:label="@string/title_activity_ready_translator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.UserAudioCallActivity"
            android:label="@string/title_activity_ready_translator"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".NotificationExtender"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
        <service
            android:name="com.twilio.client.TwilioClientService"
            android:exported="false"
            android:stopWithTask="true" />

    </application>

</manifest>